body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MENU ICON (MOBILE) */
.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFA;
  padding: 15px 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  font-size: 16px;
  font-weight: bold;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

/* LINKS */
.nav-links a {
  text-decoration: none;
  color: black;
  position: relative;
  font-weight: 500;
}

/* HOVER EFFECT */
.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #50bbff;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #50bbff;
}

/* ACTIVE PAGE INDICATOR */
.nav-links a.active {
  color: #50bbff;
}

.nav-links a.active::after {
  width: 100%;
}

@media (max-width: 768px) {

  /* NAVBAR */
  .navbar {
    padding: 15px 20px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #f5f5f5;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 15px 0;
    }
  }